.footer {
  background: $background-dark;
  color: #ffffff;
  padding: 2rem 1rem;
  font-family: var(--font-generalSans);

  &__about {
    padding-top: 75px;
    p {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h5 {
      font-size: 14px;
      font-weight: 400;
      background: transparent;
      border: 1px solid $grey-100;
      border-radius: 32px;
      width: 13%;
      margin-bottom: 15px;
      padding: 10px 8px;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: 150px;
  }
  &__link {
    flex: 0 0 25%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 172px;
    height: 144px;
    gap: 16px;
  }
  &__socials {
    width: 296px;
    height: 40px;
    display: flex;
    gap: 18px;
  }

  &__img {
    color: $grey-100;
    padding: 10px;
  }
  &__icon {
    color: $grey-100;
    background: $grey-30;
    border-radius: 50%;
  }
  &__logo {
    display: flex;
    margin-top: 50px;

    p {
      color: $grey-100;
      font-size: 80px;
      font-weight: 800;
    }
  }
  &__copyright {
    visibility: hidden;
  }

  @media (max-width: 768px) {
    &__about {
      p {
        max-width: 90%;
        text-align: start;
      }
    }

    &__header {
      display: flex;
      justify-content: start;
      align-items: start;
      margin-left: 10px;

      h5 {
        width: 50%;
      }
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      margin-left: 10px;
    }

    &__link {
      flex: 1 1 calc(50% - 1rem);
    }
    &__link:nth-child(n + 3) {
      flex-basis: 100%;
    }

    &__link-socials {
      margin-top: 3rem;
    }

    &__link-policy {
      margin-top: 2rem;
    }

    &__socials {
      justify-content: flex-start;
    }
    &__logo {
      margin-top: 2px;
      width: 100%;
      display: flex;
      justify-content: start;

      p {
        font-size: 26px;
      }
    }
    &__logo-img {
      width: 70px;
      height: 40px;
    }

    &__copyright {
      width: 100%;
      display: flex;
      justify-content: center;
      visibility: visible;
      margin-top: 14px;

      p {
        color: $background-softlight;
        font-weight: normal;
      }
    }
  }

  // @media (max-width: 1024px) {
  //   &__logo {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }

  //   &__logo-img {
  //     width: 80px;
  //     height: 50px;
  //   }
  // }
}
