@import '/src/styles/core/variables';
@import '/src/styles/utils/breakpoints';
@import '/src/styles/core/typography';

.DayFilterWrapper {
  background: $yellow-primary-100;
  padding: 1.5rem 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  button {
    background: inherit;
    cursor: pointer;
    transition: background-color ease 0.2s;
    border-radius: 2em;
    color: black;
  }

  .DayBtnsContainer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    .dayBtn {
      @include body2-medium();
      padding: 1rem 7.2rem;
      border: 1px solid $grey-10;
      text-wrap: nowrap;

      @include media('<=tablet') {
        @include body3-medium();
        padding: 1rem;
      }
    }
    .activeDayBtn {
      background-color: $core-yellow;
    }

    @include media('<=tablet') {
      padding: 0 1.6rem;
      gap: 0.5rem;
    }
  }

  .FilterBtnsContainer {
    .FilterBtnsFlex {
      display: flex;
      row-gap: 1rem;
      column-gap: 1.5rem;
      flex-wrap: wrap;
      width: fit-content;
      justify-content: center;

      .filterBtn {
        @include body2-medium();
        padding: 0.5rem 1.5rem;
        border: 1px solid $grey-60;
        color: $grey-40;
        text-wrap: nowrap;
        width: fit-content;
      }
      .activeFilterBtn {
        border: 1px solid $blue-primary-40;
        background-color: $core-green;
        color: black;
      }

      @include media('<=desktop') {
        display: grid;
        grid-auto-flow: column;
        gap: 0.5rem;
        width: max-content;
        .filterBtn {
          display: block;
        }
      }
    }

    @include media('<=desktop') {
      width: 100vw;
      overflow-x: scroll;
      overscroll-behavior-inline: contain;
      -webkit-overflow-scrolling: touch;
      padding: 0 2rem;
    }
  }

  @include media('<=tablet') {
    padding: 1rem 0;
    gap: 1.5rem;
  }
}
