@import '/src/styles/utils/breakpoints';
@import '/src/styles/core/variables';

.eventBlock {
  padding: 10px;
  border-radius: 4px;
  background: hsl(0, 56%, 91%);
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;

  @include media('<=phone') {
    width: 95vw;
    padding: 8px;
    max-width: 380px;
  }

  @include media('>=tablet') {
    width: 90vw;
    max-width: 800px;
  }

  @include media('>=desktop') {
    width: 85vw;
    max-width: 900px;
  }

  &.general {
    background: #fff;
  }

  &.breakout {
    background: #e6f7ff;
  }

  &.post_breakout {
    background: #fff;
  }

  .time {
    font-weight: light;
    font-size: 15px;
    color: #333;
    padding-top: 10px;
    margin-left: 9px;
  }

  .events {
    margin-top: 10px;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1;

    &.rowLayout {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: #fff;

      @include media('<=phone') {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        grid-template-columns: repeat(2, 280px);
        grid-auto-flow: column;
        grid-auto-columns: 280px;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        white-space: nowrap;
        padding-bottom: 1rem;
        padding-right: 1rem;

        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none;
      }

      @include media('<=tablet') {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        grid-template-columns: repeat(2, minmax(900px, 1fr));
        grid-auto-flow: column;
        grid-auto-columns: 280px;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        white-space: nowrap;
        padding-bottom: 1rem;
        padding-right: 1rem;

        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none;
      }
    }
  }

  .event {
    padding: 20px 10px 20px 15px;

    &:has(.venue.room1) {
      background-color: $green-primary-100;
      padding: 20px 10px 20px 15px;
    }

    &:has(.venue.room2) {
      background-color: $blue-primary-100;
      padding: 20px 10px 20px 15px;

      ul {
        padding-top: 15px;
      }
    }
  }
}

.event {
  padding: 8px 0;
  border-top: 1px solid #eee;

  &:first-child {
    border-top: none;
  }

  h3 {
    font-size: clamp(19px, 4vw, 25px);
    margin-left: 8px;
    font-weight: 500;
    padding-top: 8px;
    color: $background-dark;

    @include media('<=phone') {
      font-size: 19px;
    }
  }

  p {
    margin: 4px 0;
    font-size: 0.9em;
    margin-left: 8px;
    color: #666;
  }

  .panelists {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      font-weight: 500;
      color: $background-dark;
      padding-top: 15px;
      max-width: 100%;
      list-style: none;

      @include media('>=tablet') {
        max-width: 800px;
      }

      li {
        position: relative;
        padding-left: 12px;

        &::before {
          content: '•';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .venue {
    max-width: min(6rem, 100%);
    padding: 7px;
    border-radius: 99px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    max-width: 6rem;

    span {
      font-size: 14px;
      font-weight: 400;
    }
    &.outside {
      background-color: $grey-10;
      border: 1px solid $grey-50;
    }

    &.room1 {
      background-color: $core-green;
      border: 1px solid $green-primary-40;
    }

    &.room2 {
      background-color: $core-blue;
      border: 1px solid $blue-primary-40;
    }
  }

  .facilitator {
    margin-top: 5px;
    p {
      font-size: 16px;
      font-weight: 500;

      span {
        font-weight: normal;
      }
    }
  }
}
