@import '/src/styles/core/variables';
@import '/src/styles/utils/breakpoints';

.eventSchedule {
  &__container {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;

    @include media('<=phone') {
      width: 400px;
    }

    @include media('>=tablet') {
      width: 800px;
    }

    @include media('>=desktop') {
      width: 1000px;
    }
  }

  &__tabs {
    display: flex;
    gap: 0.5rem;

    @include media('<=phone') {
      width: 100%;
      max-width: 100%;
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 4px;
      padding-left: 20px;

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    @include media('<=tablet') {
      padding-left: 20px;
    }
  }

  &__tab {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s ease;
    margin-bottom: 2rem;
  }

  &__events {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $green-primary-100;
  }

  &__event {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    }

    &-time {
      margin: 4px 0;
      font-size: 0.9em;
      margin-left: 8px;
      color: #666;
    }

    &-title {
      font-size: 25px;
      margin-left: 8px;
      font-weight: 500;
      margin-bottom: 0.5rem;
      color: $background-dark;

      @include media('<=phone') {
        font-size: 19px;
      }
    }
  }
  &__event-facilitator {
    margin-left: 8px;
  }
}

.room-category {
  padding: 1rem 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
  width: 100%;

  &.active {
    transform: scale(1.1);
  }

  &.inactive {
    opacity: 0.8;
  }
}

.room1 {
  background-color: $core-green;
  border: 1px solid $green-primary-40;
  color: #fff;
  font-size: 12px;
  &.inactive {
    opacity: 0.7;
  }
}

.room2 {
  background-color: $core-blue;
  border: 1px solid $blue-primary-40;
  color: #fff;
  font-size: 12px;
  &.inactive {
    opacity: 0.7;
  }
}

.room3 {
  background-color: $core-yellow;
  border: 1px solid $yellow-primary-40;
  color: #fff;
  font-size: 12px;
  &.inactive {
    opacity: 0.7;
  }
}

.room4 {
  background-color: $core-red;
  border: 1px solid $red-primary-40;
  color: #fff;
  font-size: 12px;
  &.inactive {
    opacity: 0.7;
  }
}
