.scheduleContainer {
  display: flex;
  flex-direction: row;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.breakoutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
